:root {
  --darkblue: #16213e;
  --lightblue1: #a1c4fd;
  --lightblue2: #c2e9fb;
  --colorlogo: #06275c;
  --colorPara: #0c0222;
  --buttonBG: #100720;
  --searchResultBG: #e8f9fd;
  --detailBG: lightgrey;
}

.darkTheme {
  --lightblue1: var(--darkblue);
  --lightblue2: var(--darkblue);
  --colorlogo: #fff;
  --colorPara: #9c9efe;
  --buttonBG: #c9b5ec;
  --searchResultBG: #003865;
  --detailBG: rgb(41, 40, 40);
}
